@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap');


/*  Etiquetas Generales */

*{
    margin: 0;
    padding: 0;
}

body{
    border: 1px white solid;
    margin: 1vw;
    height: auto;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav ul li{
    list-style: none;
}

nav ul a{
    text-decoration: none;
    color: white;
}

/* Navegación */

#botones{
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

#botones button{
    padding: 10px;
    background-color: antiquewhite;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    
}



/* Datos */

#datos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1.5vh;
}

#datos-texto{
    font-size: 1.5rem;
    width: 50%;
    padding-left: 20%;
}

#datos-texto h1, h2{
    margin-left: 20%;    
}

#datos-texto h3{
    font-size: large;
    margin-top: 1vh;
    margin-left: 30%;
}

#datos-img{
   width: 30%; 

}

#datos-img img{
    border: solid 4px rgb(255, 255, 255);
    width: 15vw;
}

#informacion{
    display: flex;
    justify-content: center;
    padding: 1%;
    font-style: italic;
}


/* Experiencia Laboral */

#experiencia{
    display: none;
    margin: 20px;
}

#experiencia h3{
    display: flex;
    justify-content: center;
    font-size: xx-large
}

#experiencia h4{
    margin-top: 10px;
}

/* Formación Académica */

#formacion{
    display: none;
    margin: 20px;
}

#formacion h3{
    display: flex;
    justify-content: center;
    font-size: xx-large    
}

#formacion h4{
    margin-top: 10px;
}

/*Otros Conocimientos*/

#otros-conocimientos{
    display: none;
    margin: 20px;
}

#otros-conocimientos h3{
    display: flex;
    justify-content: center;
    font-size: xx-large 
}

